/* Other rules */

.hero {
  height: 417px;
  width: 100%;
  background-color: coral;
}

.home-articles {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.article {
  height: 440px;
  width: 232px;
  border: black solid 1px;
}
