/* Other rules */
/*---GENERAL---*/

* {
  --green-vinted: #0cadb7;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #eaedee;
}

img {
  object-fit: cover;
}

form {
  display: flex;
  flex-direction: column;
}

form > input {
  margin-bottom: 10px;
}

/*----HEADER----*/
.logo {
  width: 75px;
}

.header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
}

.white-btn {
  width: 100px;
  height: 25px;
  border: 1px solid var(--green-vinted);
  color: var(--green-vinted);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}

.green-btn {
  width: auto;
  height: 25px;
  border: 1px solid var(--green-vinted);
  color: white;
  background-color: var(--green-vinted);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
}

/*--- ---*/
hr {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.hero {
  height: 417px;
  width: 100%;
  background-color: coral;
}

.home-articles {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.article {
  width: 232px;
  border: black solid 1px;
}

.article > img {
  width: 100%;
  height: 430px;
}
/*-----Offer page-----*/
.offer {
  background-color: #eaedee;
}

.offer img {
  height: 400px;
}

.offer-container {
  display: flex;
  justify-content: space-around;
}

.offer-container > div {
  width: 380px;
  padding: 30px;
}

.offer-container > div {
  background-color: white;
}

.offer-owner {
  display: flex;
  align-items: center;
}

.offer-owner > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.signup-page,
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-page p,
.login-page p {
  font-size: 25px;
}

form {
  display: flex;
  justify-content: center;
}

form > input {
  width: 260px;
  height: 45px;
  border-radius: 10px;
  border: 0px solid;
  padding: 10px;
}

form > input:nth-child(4),
.login-page input:nth-child(3) {
  width: 268px;
  height: 45px;
  background-color: var(--green-vinted);

  color: white;
}
